body {
    margin: 0;
    overflow: hidden; /* Pas de barres de défilement */
    background-color: #111;
    font-family: 'Courier New', monospace;
}

canvas {
    display: block; /* Supprime les marges par défaut du canvas */
    background-color: #2c3e50; /* Couleur du sol par défaut */
}

#ui-layer {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    pointer-events: none; /* Permet de cliquer à travers l'UI si besoin */
    border: 2px solid white;
}

.input-display {
    margin-bottom: 10px;
}

.hud-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    color: #aaa;
    font-size: 20px;
    width: 200px;
    margin-right: 10px;
}

.hud-input.active {
    border-bottom: 2px solid #f1c40f; /* Jaune */
    color: white;
    font-weight: bold;
}

.instructions {
    font-size: 12px;
    color: #ccc;
    margin-top: 15px;
    line-height: 1.5;
}