<!DOCTYPE html>
<html>
<head><title>Inscription</title></head>
<body>
<button id="musique-button" onclick="document.getElementById('musique').play()">🎵 Jouer la musique</button>

<audio id="musique" src="/static/audio/dark-fantasy-ambient-dungeon-synth-248213.mp3" loop></audio>
  
    <h2>Créer un compte</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>{% for msg in messages %} <li>{{ msg }}</li> {% endfor %}</ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Commencer à s'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="/login">Connectez-vous</a></p>

    <script src="{{ url_for('static', filename='register.js') }}"></script>
</body>
</html>